<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css'>

  <title>{{title}}</title>
</head>

<body>
  <header>
    <div class="container-fluid p-0" id="nav-container">
      <div class="container p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0" id="main-nav">
          <a class="navbar-brand" href={{#if user}} "/post"{{else}} "/"{{/if}}>
            <img src={{brand}} alt="Ironahck">
          </a>
          <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                {{#if user}}
                <a class="nav-link" href="/user">Home</a>
                {{else}}
                <a class="nav-link" href="/">Home</a>
                {{/if}}
              </li>

              {{#if user}}
              <li class="nav-item">
                <a class="nav-link" href="/event">Events</a>
              </li>
              {{/if}}

              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              {{#if user}} {{#with user}} {{#if isAdmin}}
              <li class="nav-item">
                <a class="nav-link" href="/user/list">View Users</a>
              </li>
              {{/if}} {{/with}} {{/if}} {{#unless user}}
              <li data-toggle="collapse" data-target=".navbar-collapse.in">
                <!-- Button trigger modal -->
                <a href="#" class="nav-link" id="login-text" data-toggle="modal" data-target="#loginModal">
                  Log-in
                </a>
              </li>

              {{/unless}} {{#if user}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{#if user.username}}{{user.username}}{{else}}{{user.email}}{{/if}} {{#if user.imgPath}}
                  <img src="{{user.imgPath}}" width="50" height="50" id="profile-image" alt="Profile Image"> {{else}}
                  <img src={{avatar}} width="50" height="50" id="profile-image" alt="Profile Image"> {{/if}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item pt-2 pb-2" href="/user">
                    <i class="fas fa-user-circle mr-2"></i>Profile</a>
                  <a class="dropdown-item pt-2 pb-2" href="/post">
                    <i class="fas fa-th mr-2"></i>View posts</a>
                  <a class="dropdown-item pt-2 pb-2" href="/post/new">
                    <i class="far fa-plus-square mr-2"></i>Write new post</a>
                  <a class="dropdown-item pt-2 pb-2" href="/post/edit">
                    <i class="far fa-edit mr-2"></i>Edit post</a>
                  <a class="dropdown-item pt-2 pb-2" href="/auth/logout">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                </div>
              </li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>

    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Log in with your account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" action="/auth/login" method="POST" id="form-container" novalidate>
              <div>
                <label for="username">Email</label>
                <input class="form-control" id="username" type="email" name="username" placeholder="Your email" required>
                <div class="invalid-feedback">
                  Invalid email.
                </div>
              </div>
              <div class="mt-2">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="Your password" required>
                <div class="invalid-feedback">
                  Your password is invalid.
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Log in</button>
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main role="main" class="container-fluid p-0 pt-2 mb-5">

    <div class="container p-0">
      {{{body}}}
    </div>

  </main>

  <footer class="footer container-fluid d-flex align-items-center">
    <div class="container text-center pt-2">
      <h5>Made with
        <i class="far fa-heart"></i> by Ironhackers</h5>
    </div>
  </footer>



  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M"
    crossorigin="anonymous"></script>
  <script src='/javascripts/script.js'></script>
  <script src='/javascripts/postFormControl.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_3VnqxrRjaYliRbVBbaXMALhDWRbC74"></script>
  <script src="/javascripts/map.js"></script>
</body>

</html>