<h1>Edit your profile</h1>

<form action="/user/edit/{{user.id}}" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" class="form-control" name="fullName" value="{{user.fullName }}" required>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" value="{{user.username }}" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" value="{{user.email }}" required>
  </div>
  <div class="form-group">
    <label for="bootcamp">Bootcamp</label>
    <select name="bootcamp" id="bootcamp" class="form-control" required>
      <option value="{{user.bootcamp}}">{{user.bootcamp}}</option>
      <option value="Web">Web</option>
      <option value="UX">UX</option>
    </select>
  </div>
  <div class="form-group">
    {{#if user.imgPath }}
    <figure class="figure">
      <img src="{{user.imgPath}}" class="figure-img img-fluid rounded" alt="{{user.fullName}}">
    </figure>
    {{else}}
    <p>No image</p>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="photo">Update profile image</label>
    <input type="file" class="form-control-file" name="photo" id="photo">
  </div>

  <div class="form-group">
    <label for="isAdmin">Admin user</label>
    <select name="isAdmin" id="isAdmin" class="form-control" required>
      <option value="{{user.isAdmin}}">{{user.isAdmin}}</option>
      <option value="false">False</option>
      <option value="true">True</option>
    </select>
  </div>

  <button class="btn btn-primary">Edit</button>
</form>

<p class="alert alert-light">
  <a href="/user">Back to your profile</a>
</p>

<p>
  <a href="/user/list">View all users</a>
</p>