<h1>All posts by user {{email}} </h1>

<div class="card-group">

    {{#each publications}}
    <div class="card">
        {{!--
        <img class="card-img-top" src="..." alt="Card image cap"> --}}
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{content}}</p>
            <p class="card-text">
                <small class="text-muted">Created {{created_at}}</small>
            </p>
            <p class="card-text">
                <small class="text-muted">Last updated {{updated_at}} | Type: {{type}}</small>
            </p>
        </div>
        <form action="/post/update/{{this.id}}" method="GET">
            <button type="submit" class="btn btn-warning">Edit</button>
        </form>
    </div>
    {{/each}}
</div>