<script>window.place = {{{location}}}</script>
<h1>Event info</h1>

{{#with event}}
<h2>Title: {{title}}</h2>
<h3>Description: {{description}}</h3>
<p>Date: {{date}}</p>
{{/with}}
<p>Address: {{address}}</p>
<div id="map"></div>

{{#unless go}}
  <a href="/event/go/{{event.id}}/{{user.id}}" class="btn btn-primary">I will go!!</a>
{{/unless}}

{{#if event.participants}}
<ul>
  {{#each event.participants}}
    {{#if fullName}}
      <li>{{fullName}}</li>
    {{else}}
      <li>Anonymous</li>
    {{/if}}
  {{/each}}
</ul>
{{/if}}