<h1>Event info</h1>

{{#with event}}
<h2>Title: {{title}}</h2>
<h3>Description: {{description}}</h3>
<p>Date: {{date}}</p>
{{/with}}
<p>Address: {{address}}</p>
<a href="/event/go/{{event.id}}/{{user.id}}" class="btn btn-primary">I will go!!</a>

{{#each event.participants}}
<p>{{fullName}}</p>
{{/each}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_3VnqxrRjaYliRbVBbaXMALhDWRbC74"></script>