<script>window.place = {{{location}}}</script>

{{#with event}}
<h1>{{title}}</h1>
<p>{{description}}</p>
<p><strong>Date:</strong> {{date}}, {{time}}</p>
{{/with}}
<p><strong>Address:</strong> {{address}}</p>
<p><strong>Author:</strong> {{event.author.email}}</p>
<div id="map"></div>

{{#unless go}}
  <a href="/event/go/{{event.id}}/{{user.id}}" class="btn btn-primary">I will go!!</a>
{{/unless}}

{{#if canDelete}}
  <a href="/event/edit/{{event.id}}" class="btn btn-primary">Edit</a>
  <a href="/event/delete/{{event.id}}" class="btn btn-danger">Delete</a>
{{/if}}

{{#if event.participants}}
<h2>Participants:</h2>
<ul>
  {{#each event.participants}}
    {{#if fullName}}
      <li>{{fullName}}</li>
    {{else}}
      <li>Anonymous</li>
    {{/if}}
  {{/each}}
</ul>
{{/if}}